# frozen_string_literal: true

require "test_helper"

module Mailers
  class <%= mailer_class_name %>Test < Zee::Test::Mailer
    <%- options[:methods].each do |method| -%>

    test "renders <%= method %> email" do
      mail = Mailers::<%= mailer_class_name %>.<%= method %>

      assert_equal "<%= method.tr("_", " ").capitalize %>", mail.subject
      assert_includes mail.from, "from@example.com"
      assert_includes mail.to, "to@example.com"
      assert_includes mail.html_part.decoded,
                      "<p>Find me at app/views/<%= basename %>/<%= method %>.html.erb</p>"
      assert_includes mail.text_part.decoded,
                      "Find me at app/views/<%= basename %>/<%= method %>.text.erb"
    end
    <%- end -%>
  end
end
